button {
    outline: none;
    background-color: transparent;
    box-shadow: none;
    border: none;
    transition: $transition-all;
    cursor: pointer;
}

.button {
    cursor: pointer;
    &--primary {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $accent;
        border-radius: $theme-radius;
        color: $white;
        font-weight: 700;
        padding: 0.75rem 1.5rem;
        font-size: 1.25rem;
        line-height: 1.5em;
        border: 2px solid $accent;
        &:hover {
            background-color: transparent;
            color: $accent;
        }
        @include mobile {
            font-size: 1rem;
        }
    }

    &--sm {
        font-size: 0.75rem;
        padding: 0 1rem;
        height: 2rem;
    }

    
}