.section {
    padding: 6rem 0;
    @include tablet {
        padding: 4rem 0;
    }
    &__title {
        margin-bottom: 3.75rem;
        text-align: center;
    }
    &.section--grey {
        background-color: $light-bg;
    }
}

.section--hero {
    background-image: url('../assets/img/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 4rem;
}