.section {
    padding: 6rem 0;
    @include tablet {
        padding: 4rem 0 6rem 0;
    }
    @include mobile {
        padding: 3rem 0 5rem 0;
    }
    &__title {
        margin-bottom: 3.75rem;
        text-align: center;
        @include mobile {
            margin-bottom: 2.5rem;
        }
    }
    &.section--grey {
        background-color: $light-bg;
    }
}

.section--hero {
    background-image: url('../assets/img/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 5rem;
    padding-bottom: 2rem;
    @include tablet-lg {
        padding-top: 7rem;
        padding-bottom: 0;
    }
    @include tablet {
        padding-top: 5rem;
    }
    @include mobile {
        padding-top: 7rem;
        padding-bottom: 4rem;
    }
}