* {
    font-family: 'Gordita';
    color: $text-primary;
}

p {
    font-size: 1rem;
    line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h1 {
    font-size: 3rem;
    line-height: 1.3333em;
    letter-spacing: -0.35px;
    color: $black;
    @include desktop {
        font-size: 2.5rem;
    }
    @include tablet-lg {
        font-size: 2rem;
    }
    @include tablet {
        font-size: 1.6rem;
    }
}

h2 {
    font-size: 2.5rem;
    line-height: 1.3333em;
    @include desktop {
        font-size: 2rem;
    }
    @include tablet {
        font-size: 1.6rem;
    }
    @include mobile {
        font-size: 1.5rem;
    }
}

h4 {
    font-size: 1.25rem;
    line-height: 1.5em;
}

h6 {
    font-size: 1rem;
    line-height: 1.5em;
}