@font-face {
    font-family: 'Gordita';
    src: url(../assets/fonts/Gordita-Bold.otf) format('opentype');
    font-weight: 700;
  }

  @font-face {
    font-family: 'Gordita';
    src: url(../assets/fonts/Gordita-Medium.otf) format('opentype');
    font-weight: 500;
  }

  @font-face {
    font-family: 'Gordita';
    src: url(../assets/fonts/Gordita-Regular.otf) format('opentype');
    font-weight: 400;
  }

  @font-face {
    font-family: 'Gordita';
    src: url(../assets/fonts/Gordita-Light.otf) format('opentype');
    font-weight: 300;
  }