.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    min-height: calc(100vh - 56px);
    @include tablet {
        grid-template-columns: 1fr;
    }


    &__img {
        img {
            width: 100%;
        }
    }
    &__info {
        h1 {
            margin-bottom: 2.25rem;
        }
    }
}