@import 'nav-burger';

.main-nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 3;
    transition: all 0.1s ease-in;
    &.scrolled {
        background-color: #fff;
        box-shadow: $secondary-shadow;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        position: relative;
        line-height: 0;
        z-index: 3;
    }
    &__links {
        display: flex;
        align-items: center;
        @include tablet {
            flex-direction: column;
            gap: 1.5rem;
            position: fixed;
            padding-top: 5rem;
            padding-bottom: 3rem;
            right: 0%;
            top: 0;
            left: auto;
            height: 100vh;
            width: 100vw;
            background-color: #fff;
            transition: all 0.4s ease-out;
            overflow-y: auto;
            &.collapsed {
                right: -120%;
                opacity: 0;
            }

        }
        ul {
            display: flex;
            align-items: center;
            @include tablet {
                flex-direction: column;
                gap: 1rem;
            }
        }
    }

    &__link {
        color: $text-secondary;
        text-decoration: none;
        margin-right: 1.5rem;
        transition: $transition-all;
        font-size: 0.875rem;
        line-height: 1.714em;
        font-weight: 500;
        &:hover {
            color: $accent;
        }
        &--account {
            color: $accent;
            &:hover {
                color: darken($accent, 13%)
            }
        }
        @include tablet-lg {
            font-size: 0.8rem;
            margin-right: 1.2rem;
        }
        @include tablet {
            margin-right: 0;
        }
    }
    .button {
        flex-shrink: 0;
    }
}